#container{
  position: fixed;
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#innerContainer{
    border-radius: 25px;
    border-style: solid;
    border-color: #000;
    height: 95px;
    padding-top: 5%;
    background-color: #FF3344;
}

#watch{
  margin: 50%,50%,50%,50%;
  width: 40px;
  margin-left: 80px;
}

button{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #FFCC33;
}

#stopWatch{
  margin-top: 0px;
  margin-bottom: 0px;
}

h1{
  margin-top: 5px;
  margin-bottom: 0px;
}
