#container{
  //border-radius: 25px;
  //border-style: solid;
  //border-color: #000000;
  position: fixed;
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat';
}

#innerContainer{
    border-radius: 25px;
    border-style: solid;
    border-color: #000;
    height: 95px;
    padding-top: 5%;
    background-color: #FF3344;
}

#watch{
  margin: 50%,50%,50%,50%;
}

button{
  font-family: 'Montserrat';
}

body{
  background-color: #FFCC33;
}
